{% extends "layout.html" %}
{% block content %}
    <h1>About</h1>
    <div class="content-section">
        <legend class="border-bottom-mb4">BUSINESS INFO</legend>
            <p>founded on 1 December 2020</p>
        <legend class="border-bottom-mb4">CONTACT DETAILS</legend>
            <a href="https://www.facebook.com/shiva.verma.794/">facebook</a></br>
            <a href="https://www.instagram.com/shiva.verma.794/" style="color:#ca3b66">instagram</a>
        <legend class="border-bottom-mb4">MORE INFO</legend>
            <p>At the our company, we are constantly iterating, solving problems and working together to connect people all over the world through our apps and technologies</p>
    </div>    
{% endblock content %}